@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Quicksand&family=Saira:ital,wght@1,300;1,400&display=swap);

:root {
  --primary-bg-color: #f0f0f0;
  --secondary-bg-color: #ee1515;
  --terinary-bg-color: #222224;

  --primary-color: #f0f0f0;
  --secondary-color: #ee1515;
  --terinary-color: #222224;

  --primary-red-accent: #ee1515;
  --secondary-red-accent: #ff6e6e;

  --primary-lggreen-accent: #b3ffd9;
  --secondary-lggreen-accent: #00ff7f;

  --primary-drgreen-accent: #e1f7d9;
  --secondary-drgreen-accent: #84cc16;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*** APP SECTION ***/
.app {
  font-family: "Nunito", sans-serif;
  background-color: var(--primary-bg-color);
  color: inherit;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/***   HEADER SECTION   ***/

.header {
  font-size: 24px;
  font-weight: 600;
  height: 50px;
  background-color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  border-bottom: 12px solid var(--terinary-bg-color);
}

/***   MAIN SECTION   ***/

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 4vh;
  align-items: center;
  justify-content: center;
}

/***   SCOREBOARD SECTION   ***/

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
  font-weight: 600;
  padding-top: 20px;
}
.txt {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
}
.score {
  padding: 8px 16px;
  border: 2px solid var(--secondary-drgreen-accent);
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px var(--secondary-drgreen-accent);
}
.best {
  padding: 8px 16px;
  border: 2px solid var(--secondary-red-accent);
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px var(--secondary-red-accent);
}

/***   LOADING SECTION   ***/
.loadTxt {
  font-size: 32px;
  font-weight: 600;
}

.ball {
  width: 40px;
  animation: pokeBall 0.9s linear infinite;
  margin-left: 60px;
}
.blinks {
  animation: blink 1s linear 0.1s infinite;
}
.blinkf {
  animation: blink 1s linear infinite;
}

@keyframes pokeBall {
  to {
    transform: rotate(358deg);
  }
}
@keyframes blink {
  from {
    color: var(--primary-color);
  }
  to {
    color: var(--terinary-color);
  }
}

/***   GAME OVER SECTION   ***/

.over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
.try {
  font-size: 26px;
  font-weight: 600;
  padding: 8px 24px;
  border: 2px solid var(--secondary-drgreen-accent);
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px var(--secondary-drgreen-accent) inset;
}
.try:hover {
  background-color: var(--secondary-drgreen-accent);
  box-shadow: 0px 0px 20px 0px var(--secondary-drgreen-accent);
}

/***   CARD SECTION   ***/

.cardCont {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.card {
  background: #e5e7eb;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
  width: 180px;
  cursor: pointer;
  transition: all 200ms ease-in-out 0s;
  box-shadow: 0px 0px 10px 0px #222224;
}
.card:hover {
  box-shadow: 0px 0px 15px 2px black;
}
.card:active {
  scale: 0.9;
  box-shadow: 0px 0px 15px 2px black;
}
.pokeName {
  border-top: 2px solid black;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
}
.pokeImg {
  padding: 5px;
}

img {
  width: 160px;
}

/***   FOOTER SECTION   ***/

.footer {
  color: var(--terinary-color);
  padding: 10px 0px 4px 0px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
.odin {
  color: inherit;
}
.faCode {
  font-size: 16px;
  color: var(--secondary-drgreen-accent);
  transition: transform 0.5s ease-in-out;
}

.faGithub {
  font-size: 18px;
  color: var(--secondary-color);
  transition: transform 0.5s ease-in-out;
}

.faCode:hover {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0) scale(1.1);
}

.faGithub:hover {
  transform: rotate(720deg) scale(1.2);
}

.odin:hover {
  transform: scale(1.2);
}

.visible {
  display: block;
}

.required::placeholder {
  color: var(--secondary-red-accent);
}

/********* *******************/

.active {
  display: block;
}
.spread {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.height {
  height: 100%;
}

@media (max-width: 800px) {
  img {
    width: 100px;
  }
  .card {
    width: 140px;
  }
  .pokeName {
    font-size: 16px;
  }
  .ball {
    width: 20px;
  }

  .loadTxt {
    font-size: 28px;
  }
  .name,
  .contacts,
  .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .txt {
    font-size: 20px;
    padding-top: 20px;
  }
}
@media (max-width: 480px) {
  img {
    width: 75px;
  }
  .card {
    width: 105px;
  }
  .pokeName {
    font-size: 14px;
  }
  .ball {
    width: 15px;
  }
  .loadTxt {
    font-size: 26px;
  }
  .scoreboard {
    font-size: 18px;
  }
  .txt {
    font-size: 18px;
    padding-top: 15px;
  }
}
@media (max-width: 400px) {
  img {
    width: 65px;
  }
  .card {
    width: 85px;
  }
  .pokeName {
    font-size: 12px;
  }
  .ball {
    width: 12px;
  }
  .loadTxt {
    font-size: 25px;
  }
  .scoreboard {
    font-size: 16px;
  }
}
@media (max-width: 340px) {
  img {
    width: 50px;
  }
  .card {
    width: 71px;
  }
  .pokeName {
    font-size: 8px;
  }
  .ball {
    width: 10px;
  }
  .loadTxt {
    font-size: 24px;
  }
  .scoreboard {
    font-size: 14px;
  }
}
